* {
    margin: 0;
    padding: 0;
    /* padding and border of the element
    will be used in calculating the total width
    and height of all elements */
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    /* dark background color */
    background: #222;
}

.card {
    /* occupt 90% of the available space */
    width: 90%;
    /* but don't exceed this width */
    max-width: 470px;
    /* a gradient tilted 135 deg
    starting from #00feba to
    #5b548a.
    linear-gradient creates an image with a 
    progressive transition between two or
    more colors */
    background: linear-gradient(135deg, #00feba, #5b548a);
    /* color of text */
    color: #fff;
    /* top and bottom is 100px
    left and right is auto
    card is centered */
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    /* offcourse, if input fields have width
    they also have a height. */
    height: 60px;
    border-radius: 30px;
    /* occupy all the available space */
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* border: 1px solid red; */
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}